.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0099ff;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listContainer {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.listContainer .tasksListContainer {
  display: inline-block;
}

.listContainer .completedContainer {
  display: inline-block;
}

.listsubHeader {
  text-align: left;
}
.listHeader {
  text-align: left;
}

.iconButton {
  border: none;
}

.deleteIcon {
  border: none;
  /* background: linear-gradient(brown, red);
  -webkit-filter: brightness(200%); /* Safari 
  filter: brightness(200%); */
}

.checkIcon {
  border: none;
}

.formContainer {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

/* body {
  font-family: "Roboto", sans-serif;
}

.list {
  background-color: #e9ebee;
  display: inline-block;
  padding: 20px;
}

.list h1 {
  color: #333;
  font-weight: 300;
  padding-left: 80px;
}

.list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list ul li {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fefefe;
  min-width: 300px;
  min-height: 70px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.list ul li span.name {
  display: block;
  font-weight: 700;
  font-size: 20px;
}

.list ul li span.character {
  display: block;
  font-weight: 200;
  font-size: 16px;
  padding-top: 5px; 
}*/
